<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Açıklama</th>
      <th>Başlık</th>
      <th>Fiyat</th>
      <th>Pazarlık?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of allProducts">
      <td>{{product.payload.doc.data().summary}}</td>
      <td>{{product.payload.doc.data().title}}</td>
      <td>{{product.payload.doc.data().price}}</td>
      <td>
        {{product.payload.doc.data().bargain?'Var':'Yok'}}
      </td>
      <td>
        <div class="btn-group-sm">
          <button class="primary btn-default btn-block" (click)="increasePrice(product)">+</button>
          <button class="primary btn-default btn-block" (click)="decreasePrice(product)">-</button>
          <button class="primary btn-danger btn-block" (click)="delete(product)">Sil</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!--
  Klasik bir Grid tasarımı söz konusu.
  *ngFor ile bileşenin init metodunda doldurulan allProducts dizisini dönüyoruz.
  Firestore'dan gelen her bir dokümanın elemanlarına ulaşmak için,
  payload.doc.data().[özellik adı] notasyonunu kullandık.

  Sil başlıklı button'a basıldığında bileşendeki delete metodunu çağrılmış oluyor.

  Checkbox kontrolünün click olayında bileşendeki güncelleme metodunu ve dolayısıyla
  servis tarafındaki versiyonunu çağırmış oluyoruz.
-->