<div>
  <button (click)='newArticle()'>Yeni makale başlat</button>
</div>
<div style="height: 100%;">
  <span *ngFor='let a of articles | async' (click)='getArticle(a)'>
      <b>{{a}}</b>  
      <br/>
  </span>
</div>
<!--
  *ngFor ile Typescript tarafındaki articles isimli diziyi dönüyoruz.
  Her bir elemanı için {{a}} ile dizi elemanını basıyoruz ki bu içerde
  rastgele üretilen dosya numarası oluyor.

  click olayı tetiklendiğinde dosya numarasının içeriğini çeken getArticle metodu
  çağırılıyor ki o da article-list.component.ts içerisinde yer alıyor.

  button kontrolüne basıldığındaysa yine article-list.component.ts içerisindeki
  newArticle metodu çağırılıyor.
-->