@page "/"

<h1>Blazor Uygulamasından Google Cloud Firestore'a</h1>

<p>
    Sevdiğim bir kaç NBA oyuncusunun bilgilerine yer veriyorum.
    Bu bilgiler Cloud Firestore veri tabanında duruyor.
</p>
