<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HelloWorld</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Başlangıç :P
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="population">
                <span class="oi oi-home" aria-hidden="true"></span> Dünya Nüfusu
            </NavLink>
        </li>
       <!-- 
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Sayaç
            </NavLink>
        </li>
        -->
        <!-- Yeni eklediğimiz book sayfası için link. href değerine göre book.cshtml sayfasına yönlendirileceğiz -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bookList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kitaplar
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
