<!--
  bootstrap css stilleri ile donattığımız basit bir arayüzümüz var.

  app.component sınıfındaki property'lere erişmek için {{propertyName}} notasyonu kullanılıyor.
  Yine bileşen üzerinde bir metod çağrısı yapmak ve bunu bir kontrol olayı ile ilişkilendirmek için 
  (eventName)="method name" şeklinde bir notasyon kullanılıyor.
  
  Angular direktiflerinde *ngIf komutunu kullanarak tahmine göre bir HTML elementinin gösterilmesi sağlanıyor.
-->
<div class="container">
  <h2>Bil bakalım hangi şehre gittim? :)</h2>

  <div class="card bg-light mb-3">
    <div class="card-body">
      <p class="card-text">Bugün hava <b>{{currentWeather}}</b> ve ben ... şehrine gittim.</p>
    </div>
  </div>
  <div>
    <p>
      <button class="btn btn-primary btn-sm" (click)="fullThrottle()">Hey Scotty. Beni yeniden
        ışınla</button>
    </p>
  </div>
  <div>
    <label>Tahminin nedir?</label>
    <input (input)="playersGuess=$event.target.value" type="text" />
    <button class="btn btn-primary btn-sm" (click)="checkMyGuess()">Dene</button>
  </div>
  <div>
    <p *ngIf="guessIsCorrect" class="alert alert-success">Bravo! Yakaladın beni</p>
    <p *ngIf="!guessIsCorrect" class="alert alert-warning">Tüh. Tekrar dener misin?</p>
    <p class="text-info">İşte sana bir ipucu. {{hint}}</p>
  </div>
</div>