<div class="container">
  <h2>Bil bakalım hangi şehre gittim? :)</h2>

  <div class="card bg-light mb-3">
    <div class="card-body">
      <p class="card-text">Bugün hava <b>{{currentWeather}}</b> ve ben ... şehrine gittim.</p>
    </div>
  </div>
  <div>
    <p>
      <button class="btn btn-primary btn-sm" (click)="fullThrottle()">Hey Scotty. Beni yeniden
        ışınla</button>
    </p>
  </div>
  <div>
    <label>Tahminin nedir?</label>
    <input [(ngModel)]="playersGuess" type="text" />
    <button class="btn btn-primary btn-sm" (click)="checkMyGuess()">Dene</button>
  </div>
  <div>
    @if (hasGuessed) {
      @if (guessIsCorrect) {
        <p class="alert alert-success">Bravo! Yakaladın beni</p>
      } @else {
        <p class="alert alert-warning">Tüh. Tekrar dener misin?</p>
      }
    }
    <p class="text-info">İşte sana bir ipucu. {{hint}}</p>
  </div>
</div>
